body {
  /* display: flex;
  flex-direction: row; */
  background-color: #f6f6f6;
  font-family: "Noto Sans", sans-serif;
}

.lorem {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  width: 80%;
}

.select-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#bubblestitle {
  padding-top: 12px;
  padding-left: 50px;
  font-weight: 700;
}

#barstitle {
  padding-top: 12px;
  font-weight: 700;
}

#prevCluster {
  appearance: "button";
  background-color: #3e3e3e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 12px;
  cursor: inherit;
  border: none;
  color: white;
  border-radius: 8px;
  height: 24px;
}

#nextCluster {
  appearance: "button";
  background-color: #3e3e3e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 12px;
  cursor: inherit;
  border: none;
  color: white;
  border-radius: 8px;
  height: 24px;
}

/* .rect-words:hover {
  font-size: 30px;
} */

select {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: url(dropdown_arrow.svg);
  background-position: right 20px top 50%;
  background-size: 13px;
  background-repeat: no-repeat;
  appearance: "button";
  background-color: #3e3e3e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* position: absolute; */
  /* left: 580px; */
  padding: 14px 20px;
  height: 48px;
  width: 300px;

  border: none;
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 15px;
  cursor: inherit;
}

.select-container {
  margin: 32px 0 32px 0;
}

select::-ms-expand {
  display: none;
}

.selectButtonTopics {
  top: 4px;
  left: 75%;
}

.button-container {
  display: flex;
  margin-left: 50px;
}

.currentCluster {
  margin: 0px 12px 0px 8px;
}

.visualization-wrapper {
  display: flex;
}

@media only screen and (max-height: 520px) {
  /* For desktop: */
  body {
    flex-direction: column;
  }
}
