body {
  background-color: #f6f6f6;
  font-family: "Noto Sans", sans-serif;
}

body.pcchart {
  display: flex;
}

.bubbleWrapper {
  flex: 3;
}

.barsWrapper {
  flex: 4;
}

#select-conteiner {
  padding-top: 15px;
}

select::-ms-expand {
  display: none;
}

#bubblestitle {
  flex: 1;
  padding-top: 12px;
  padding-left: 50px;
  font-weight: 700;
}

#barstitle {
  padding-top: 12px;
  font-weight: 700;
}

select {
  background: url(dropdown_arrow.svg);
  background-position: right 20px top 50%;
  background-size: 13px;
  background-repeat: no-repeat;
  appearance: "button";
  background-color: #3e3e3e;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  left: 580px;
  padding: 14px 20px;
  height: 48px;
  width: 300px;
  margin: 0;
  border: none;
  color: white;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 15px;
  cursor: inherit;
}
